
.chart-wrapper button.reload-button {
    margin: auto;
}

.chart-wrapper .fic-query-form form {
    background-color: whitesmoke;
    padding: 20px;
    border: solid 1px lightgray;
    margin-bottom: 20px;
}

.chart-wrapper .fic-query-form {
    max-width: 500px;
    margin: auto;
}