.rating-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.inner {
  width: 80%;
  height: 100%;
  margin: auto;
  background-color: white;
  border: solid 1px grey;
  border-radius: 10px;
  padding: 15px;
}

.content {

}

.rater {
  margin-bottom: 10px;
}

textarea {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  display: inherit !important;
  width: 50% !important;
  margin: auto !important;
}

textarea:focus {
  background-color: white !important;
}

.star {
  transition: .25s ease;
}

.star.highlighted {
  color: red;
}

.rating-footer label {
  cursor: default;
}

.ficspressiso-work-summary {
  margin: 20px 0;
  border: 1px solid #ccc;
  padding: 20px;
}

.ficspressiso-work-summary .content {
  margin: auto;
}

.crawl-div {
  
}
